<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".pdflist.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_and_splash"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_and_splash"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".users_role.salesman.PdfDetailsSalesmanActivity"
            android:exported="false" />
        <activity
            android:name=".users_role.salesman.UploadPdfActivitySalesman"
            android:exported="false" />
        <activity
            android:name=".users_role.salesman.DashboardSalesmanPageActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".users_role.salesman.DashboardSalesmanActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".users_role.admin.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".pdflist.PdfViewActivity"
            android:exported="false" />
        <activity
            android:name=".pdflist.PdfDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".pdflist.PdfEditActivity"
            android:exported="false" />
        <activity
            android:name=".users_role.admin.PdfListAdminActivity"
            android:exported="false" />
        <activity
            android:name=".category.UploadPdfActivity"
            android:exported="false" />
        <activity
            android:name=".category.CategoryAddActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".users_role.admin.DashboardAdminActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".users_role.customer.DashboardUserActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".authorization.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.TheAuthorized">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".authorization.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.TheAuthorized">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.BookApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>